# Calculate the $f$O$_2$ of a metal-silicate system from compositional data
More text on the method here...

## Import necessary python libraries

In [1]:
import fO2calculate as fc

## Read in your data file

You can create a single sample object or import an entire spreadsheet (xlsx or csv) with multiple samples. Here we import a spreadsheet containing data from this manuscript.

Add more text on this and on how to format the Batch File ahead of time. Oxides = melt, elements = metal.

In [2]:
myfile = fc.BatchFile('test_data.xlsx')

In [3]:
myfile.get_data()

/Users/kiacovin/Dropbox/Research/__Python/MetalSilicateFO2/fO2calculate/sample_class.py:74: UserWarning: Element S was passed as part of sample composition. This will be assumed to be part of the metal composition.
  " will be assumed to be part of the metal composition.")

,Al,Al2O3,Ca,CaO,Co,CoO,Cr,Cr2O3,Fe,FeO,...,Si,SiO2,Ta,Ta2O5,Ti,TiO2,W,WO3,Total,Total.1
NSA-36,0.08309,14.079067,0.049713,4.066623,0.0,0.000,0.476223,0.04643,88.4445,0.170567,...,6.85104,66.0073,0.00,0.00,0.098379,0.140922,0.00,0.000,101.056074,97.167908
NSA-71,0.01000,13.830000,0.010000,6.100000,0.0,0.000,5.530000,0.23000,70.7000,0.170000,...,19.19000,56.3300,0.00,0.00,0.170000,1.220000,0.00,0.000,98.949145,96.970000
MK12a,0.00000,9.130000,0.000000,13.590000,2.6,0.007,0.260000,0.00400,76.3400,0.140000,...,7.86000,36.8000,1.01,0.54,0.000000,0.340000,4.10,0.020,99.100000,99.300000
MK15,0.00000,8.760000,0.000000,9.970000,2.0,0.004,0.150000,0.01000,80.5500,0.360000,...,1.69000,37.4600,0.06,1.25,0.000000,0.340000,2.84,0.006,98.898000,97.704000

## Calculate the $f$O$_2$ in terms of the iron-wüstite buffer
More text here, link to another notebook for an extensive run-through of all functions that can be done (e.g., calculations that happen in order to get at fO2)

In [4]:
myfile.calculate_dIW(temperature=1300)

/Users/kiacovin/Dropbox/Research/__Python/MetalSilicateFO2/fO2calculate/sample_class.py:74: UserWarning: Element S was passed as part of sample composition. This will be assumed to be part of the metal composition.
  " will be assumed to be part of the metal composition.")

,Al,Al2O3,Ca,CaO,Co,CoO,Cr,Cr2O3,Fe,FeO,...,SiO2,Ta,Ta2O5,Ti,TiO2,W,WO3,Total,Total.1,dIW_Calculated
NSA-36,0.08309,14.079067,0.049713,4.066623,0.0,0.000,0.476223,0.04643,88.4445,0.170567,...,66.0073,0.00,0.00,0.098379,0.140922,0.00,0.000,101.056074,97.167908,-5.151730
NSA-71,0.01000,13.830000,0.010000,6.100000,0.0,0.000,5.530000,0.23000,70.7000,0.170000,...,56.3300,0.00,0.00,0.170000,1.220000,0.00,0.000,98.949145,96.970000,-6.004514
MK12a,0.00000,9.130000,0.000000,13.590000,2.6,0.007,0.260000,0.00400,76.3400,0.140000,...,36.8000,1.01,0.54,0.000000,0.340000,4.10,0.020,99.100000,99.300000,-4.931133
MK15,0.00000,8.760000,0.000000,9.970000,2.0,0.004,0.150000,0.01000,80.5500,0.360000,...,37.4600,0.06,1.25,0.000000,0.340000,2.84,0.006,98.898000,97.704000,-4.087381